$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html,
body {
    height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.sign-in-buttons {
  margin: 0 auto;
}

#main-logo {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.main-logo-container {
  margin-bottom: 5%;
}

#main-logo:hover {
  opacity: 1;
}

.paleo-btn {
  background: none;
  border: none;
}

.paleo-btn:focus {
  background: none;
  border: none;
}

.paleo-btn:active {
  background: none;
  border: none;
}

.paleo-btn:hover {
  background: none;
  border: none;
}

.hidden-offscreen-left {
  transform: translateX(-100%)
}

.search-bar,
.paleo-list {
  width: 100%;
}

.menu-btn,
.list-btn {
  position: absolute;
  left: 200%;
}

.menu-btn {
  top: 0;
}

.list-btn {
  bottom: 0;
}

#open-menu,
#open-list {
  position: absolute;
  right: 0;
}

.top-input,
.left {
  transition: all 1s ease;
}

.left {
  background: linear-gradient(90deg, rgba(255,0,0,1), rgba(255,0,0,0));
}

.top-input,
.left,
footer {
  width: 100%;
  position: absolute;
  z-index: 1;
  }

.left {
  bottom: 0;
}

#open-list {
  bottom: 15px;
}

footer {
  bottom: 0;
}

.truck-title-row,
.main-title-row {
  background-color: white;
  margin-bottom: 5%;
}

#main-title {
  text-align: center;
  opacity: 1;
}


.main-title-overlay {
  position: relative;
}

.main-title-overlay {
  z-index:2;
}

.map-invisable {
  opacity: 0;
}

.map-visable {
  opacity: 1;
}

.destination {
  background: #FFF;
}

.highlight-destination {
  background: #000;
}



.container-map {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;
}

#map-canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.container-search {
  opacity: 0.5;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: green;

  left: -50%;

  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;
}

#list-container-1 {
    z-index: 1;
}

.hide-swiper-overflow-x {
  overflow-x: hidden;
  width: 100%;
  background-color: #F8DAA6;
}

.box {
  height: 90%;
  width: 100%;
  background-color: blue;
  position: relative;
}

.subbox {
  width: 100%;
  height: 200px;
  background-color: red;
  box-shadow: 0 5px 10px 0 #555;
  position: fixed;
}

.lowerbox {
  background-color: yellow;
  overflow-y: scroll;
  height: 200%;
  width: 50%;
}

.spacer {
  background-color: red;
  box-shadow: 0 5px 10px 0 #555;
}

.content {
  height: 500px;
  width: 100%;
}

.frontbox {
  top: 0;
  width: 100%;
  height: 5%;
  background: green;
  }

.endbox {
    bottom: 0;
  width: 100%;
  height: 5%;
  background: green;
}

.menu {
  position: fixed;
  height: auto;
  width: 100%;
  z-index: 2;
}

.truck-swiper-row,
.menu-swiper-row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.truck-swiper-container,
.menu-swiper-container {
  height: 100px;
  background-color: #DAA446;
  box-shadow: inset 0 5px 10px 0 #555;
}

#menu-swiper-pagination,
#truck-swiper-pagination {
  position: relative;
  margin-top: 15px;
}

.swiper-container {
    width: 100%;
        margin: 20px auto;
}

.swiper-slide {
    box-shadow: 0 5px 10px 0 #555;
    height: auto;
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
    background: #F8DAA6;
    border-radius: 2px;
    width: 40%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: box-shadow 1s ease;
}

.slide-content {
  height: 80px;
}

.user-order-container {
  z-index: -1;
}

#user-confirmation,
#user-order {
  padding: 10px;
  background-color: white;
  overflow-y: scroll;
}

.descriptor-content::-webkit-scrollbar,
#user-confirmation::-webkit-scrollbar,
#user-order::-webkit-scrollbar {
    display: none;
}

.swiper-title {
  position: absolute;
  margin-bottom: 0;
  left: 0;
  bottom: 0;
}

.truck-swiper-container {
  margin: 10px 0;
}

.swiper-truck-logo {

}

#truck-navi,
#navi {
  position: absolute;
  z-index: 10;
  width: 100%;

  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.confirmation {
    background-color: #FFF;
    height: 100%;
    margin-right: 15px;
    margin-bottom: 5%;
    box-shadow: 0 5px 10px #777;
    padding: 15px;
}

.swiper-pagination-bullet-active {
  background: #97E080;
}

.ttg-button {
    color: #333;
    background-color: #97E080;
    border-color: #f8daa6;
    box-shadow: 0 5px 15px 0 #555;
}

.ttg-button:hover {
    color: #333;
    background-color: #F8DAA6;
    border-color: #f8daa6;
    box-shadow: 0 5px 15px 0 #555;
}

.form-control:focus {
      border-color: #97E080;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(151, 224, 128, 0.6);
}

.label-right {
  text-align: right;
}

.label-left {
  text-align: left;
}

#settings {
  position: absolute;
  top: 0;
  right: 0;
}

/*
.form-horizontal {
  margin-left: 15px;
  margin-right: 15px;
}
*/

#main-form.main-form-close {
  top: -100vh ;
}


.full-screen {
  height: 100vh;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.descriptor-open {
  height: 20% !important;
}

.descriptor-open-more {
  height: 40% !important;
}

.descriptor {
  padding-top: 5%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3%;
  background-color: #F8DAA6;
  box-shadow: 0 0 10px 0 #555;
  transition: height 0.2s ease 0s;
}

.swiper-slide-active {
  box-shadow: 0 5px 10px 0 #97E080;
}

.descriptor div {
  height: 100%;
  overflow: scroll;
}

.descriptor-img {
  width: 100%;
}

#cog-setting {
  color: #333;
  padding: 10px 15px;
  position: relative;
  display: block;
}

.global-header-container {
  height: 7%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0;
  background-color: #F8DAA6;
}

.global-header {
  transition: top 0.1s ease;
  height: 50px;
  width: 100%;
  background-color: #F8DAA6;
  position: fixed;
  top: 0px;
  right: 0px;
  box-shadow: 0 3px 15px 0px #555;
  display: block;
  margin: 0;
  z-index:5;
}

.global-header-logo {
  height: 100%;
  width: 100%;
}

.global-logo-section {
  height: 100%;
  width: auto;
}

.global-logo-section-logo-image {
  padding: 5px;
  height: 100%;
  width: auto;
}

.header-close {
  top: -40px;
}

.form-horizontal > .side-padding-zero {
  margin-left: 0;
  margin-right: 0;
}

#main-form.half {
    height: auto;
}

#main-form {
  position: fixed;
  margin-top: 50px;
  padding-bottom: 2%;
  top: 0;
  z-index: 2;
  background-color: #F0B54D;
  height: 100%;
  width: 100%;
  box-shadow: 0 5px 10px 0 #555;
  transition: top 0.2s ease-out;
}


@media only screen and (max-width: 320px) {
  .global-title {
    font-size: 1em;
  }
}

@media only screen and (max-width: 250px) {
  .global-title {
    font-size: 1em;
    visibility: hidden;
  }
}

@media only screen and (min-width: 365px) {
  .global-title {
    font-size: 2em;
  }
}


@media only screen and (min-width: 400px) {
}

/*
.form-group {
  height: 34px !important;
}
*/

.global-title{
  font-style: italic;
}

#logo-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/*99dbd7ff*/

#logo {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  padding-bottom: 2%;
  background-color: #DAA446;
  border-top: 5px solid #97E080;
  border-bottom: 5px solid #97E080;
  box-shadow: 0 2px 10px 2px #555;
  line-height: 0;
  font-size: 0;
}

svg#background {
  height: 110%;
}

#city {
    position: relative;
    bottom: 100%;
    margin-bottom: -32%;
}

#truck-logo {
  position: relative;
  width: 100%;
}

.first-row {
  padding-top: 5%;
  height: 100%;
}

.screen {

}

#loginScreen {
}

#signUpScreen {
}

.login {
  background-color: #F8DAA6;
  padding-top: 2%;
  margin-top: 2%;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px 0 #444;
}

.signup {

}

#login-form {

  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#login {
  position: absolute;
  top: 45%;
  width: 100%;
}

.no-meetups {
  position: absolute;
  height: auto;
  width: 90vw;
  top: 25%;
  background-color: blue;
  z-index: 5;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0 8px 15px 0 #555;
  border: 2px solid #Daa446;
  background-color: #F8DAA6;
}

.no-meetups .title {
  margin: 10px;
  border-bottom: 2px solid #Daa446;
}

.no-meetups p {
  margin: 10px;
}

#order {
  background-color: white;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

