$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html,
body {
  //overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.sign-in-buttons {
  margin: 0 auto;
}

#main-logo {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.main-logo-container {
  margin-bottom: 5%;
}

#main-logo:hover {
  opacity: 1;
}

.paleo-btn {
  background: none;
  border: none;
}

.paleo-btn:focus {
  background: none;
  border: none;
}

.paleo-btn:active {
  background: none;
  border: none;
}

.paleo-btn:hover {
  background: none;
  border: none;
}

.hidden-offscreen-left {
  transform: translateX(-100%)
}

.search-bar,
.paleo-list {
  width: 100%;
}

.menu-btn,
.list-btn {
  position: absolute;
  left: 200%;
}

.menu-btn {
  top: 0;
}

.list-btn {
  bottom: 0;
}

#open-menu,
#open-list {
  position: absolute;
  right: 0;
}

.top-input,
.left {
  transition: all 1s ease;
}

.left {
  background: linear-gradient(90deg, rgba(255,0,0,1), rgba(255,0,0,0));
}

.top-input,
.left,
footer {
  width: 100%;
  position: absolute;
  z-index: 1;
  //background-color: gray;
}

.left {
  bottom: 0;
}

#open-list {
  bottom: 15px;
}

footer {
  bottom: 0;
}

.truck-title-row,
.main-title-row {
  background-color: white;
  margin-bottom: 5%;
}

#main-title {
  text-align: center;
  opacity: 1;
}

.truck-title-overlay,
.main-title-overlay {
  position: relative;
  height: 100%;
  width: 100%;
}

.map-invisable {
  opacity: 0;
}

.map-visable {
  opacity: 1;
}

.destination {
  background: #FFF;
}

.highlight-destination {
  background: #000;
}



.container-map {
  opacity: 1;
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;
}

#map-canvas {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.container-search {
  opacity: 0.5;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: green;

  left: -50%;

  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;
}

#list-container-1 {
    z-index: 1;
}

.pre-swiper-container {
  //position: fixed;
  padding: 0;
  height: 40%;
  width: 100%;
  background-color: #F0B54D;
  margin-right: auto;
  margin-left: auto;
}

.swiper-container {
    width: 100%;
    //height: 300px;
    margin: 20px auto;
}

.swiper-wrapper {
  height: 100px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #F8DAA6;
    //width: 40%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-title {
  position: absolute;
  margin-bottom: 0;
  left: 0;
  bottom: 0;
}

.truck-swiper-container {
  margin: 10px 0;
}

.swiper-truck-logo {

}

#truck-navi,
#navi {
  position: absolute;
  z-index: 10;
  //height: 100%;
  width: 100%;

  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

#main-form {
  position: absolute;
  z-index: 10;
  //height: 100%;
  width: 100%;
  padding: 0;

  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.descriptor-open {
  height: 20% !important;
}

.descriptor-open-more {
  height: 40% !important;
}

.descriptor {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #F8DAA6;
  box-shadow: 0 0 10px 0 #555;
  transition: height 0.2s ease 0s;
}

.descriptor section {
  height: 100px;
  overflow: scroll;
}

.common-overlay {
  background-color: #F0b54D;
  position: fixed;
  top: 10%;
}

.global-header-container {
  height: 7%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0;
  background-color: #F8DAA6;
  z-index: 10;
}

.global-header {
  height: 7%;
  width: 100%;
  background-color: #F8DAA6;
  position: fixed;
  top: 0px;
  right: 0px;
  box-shadow: 0 5px 10px 0px #555;
  display: block;
  margin: 0;
}

.global-header-logo {
  height: 100%;
  width: auto;
}

.global-logo-section {
  height: 100%;
  width: auto;
}

.global-logo-section-logo-image {
  padding: 5px 5px;
  height: 100%;
  width: auto;
}

.global-title{
  font-size:
}

#logo-container {
  background-color: #F0B54D;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
/*99dbd7ff*/
#logo {
  position: absolute;
  top: 15%;
  bottom: 60%;
  width: 100%;
  background-color: #DAA446;
  border-top: 5px solid #97E080;
  border-bottom: 5px solid #97E080;
  overflow: hidden;
  box-shadow: 0 2px 10px 2px #333;
}

svg#background {
  height: 110%;
  //z-index: 0;
}

#truck-logo {
  position: absolute;
  top: 25%;
  bottom: 50%;
  width: 100%;
 // z-index: 1;
}

#login-form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#login {
  position: absolute;
  top: 45%;
  width: 100%;
}

#order {
  background-color: white;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
