node_modules/
.tmp
.sass-cache
bower_components/
node_modules-old/
.bowerrc
.editorconfig
.gitattributes
.jshintrc
.yo-rc.json
test/.bowerrc
dwolla_test_data/
app/scripts/temp.html
app/images/ai/
*font-awesome-4.6.3.zip
*test.html
app/scripts/ng-model.js
